FRONTEND_PORT=8089

# --- CẤU HÌNH KẾT NỐI FRONTEND TỚI BACKEND ---
# Nếu FE chạy ở máy khác BE, hãy sửa 'localhost' thành LAN IP hoặc Domain của máy BE.
SERVER_BASE_URL=http://localhost:8088/assign-server
# SERVER_BASE_URL=https://api.assignment.magure.app/
# ---------------------------------------------

BIND_HOST=0.0.0.0
